<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="owlIntuition" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>
  <owlIntuition>
    <devices>
      <device name="Owl" localCommandPort="5100" localPacketPort="5110" owlCommandKey="XXXXXXXX" owlMacAddress="XX-XX-XX-XX-XX-XX" owlIpAddress="192.168.1.100" owlCommandPort="5100" OwlCommandResponseTimeout="00:00:10" owlCommandResponseTimeout="00:00:30" autoConfigurePacketPort="true">
        <Remarks>Located in garage</Remarks>
      </device>
    </devices>
  </owlIntuition>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>