<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="hostContainer" type="SimpleConfig.Section, SimpleConfig" />
    <section name="rabbitMq" type="SimpleConfig.Section, SimpleConfig" />
    <section name="owlIntuition" type="SimpleConfig.Section, SimpleConfig" />
  </configSections>
  <hostContainer>
    <modulePatterns>
      <modulePattern Path="" Pattern="Bebbs.Harmonize.With.Messaging.Over.RabbitMq.dll" />
      <modulePattern Path="" Pattern="Bebbs.Harmonize.With.Message.As.Hml.dll" />
    </modulePatterns>
  </hostContainer>
  <rabbitMq HostName="devbox" UserName="HarmonizeClient" Password="P2ssw0rd" ExchangeName="Harmonize" QueueName="Host" />
  <owlIntuition>
    <devices>
      <device name="Owl" localCommandPort="5100" localPacketPort="5110" owlCommandKey="6C9DB92A" owlMacAddress="44-37-19-00-32-EC" owlIpAddress="192.168.1.100" owlCommandPort="5100" OwlCommandResponseTimeout="00:00:10" owlCommandResponseTimeout="00:00:30" autoConfigurePacketPort="true">
        <Remarks>Located in garage</Remarks>
      </device>
    </devices>
  </owlIntuition>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Interfaces" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Reactive.Linq" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.4.0" newVersion="2.2.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>